/* All styles for your Card Components live here */

.cardContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: 1px solid #672470;
    width: 99.5%;
    margin-left: .1%;
    text-decoration: none;

}

.reactLogo {
    height: 275px;
    width: 100%;
}

.jsLink {
    font-weight: normal;
    color: #7E8890;
    font-size: .8rem;
    text-decoration: none;
}

.content {
    font-size: .9rem;
    padding-top: 10px; 
    padding-left: .5%;
}

.cardContent {
    border: 1px solid #9A929B;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.react {
    padding-left: 12%;
    margin-right: 2%;
}