
.actionButtonContainer {
    display: flex;
}

.clearButton {
    border: 2px solid grey;
    width: 75%;
    height: 100px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
}

.symbolsContainer {
    border: 2px solid grey;
    width: 25%;
    height: 518px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;

}